@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* RESET */
.git{
  background:red;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* FONTS */

@font-face {
    font-family: 'adobe_garamond_proitalic';
    src: url('../fonts/agaramondpro-italic-webfont.eot');
    src: url('../fonts/agaramondpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agaramondpro-italic-webfont.woff') format('woff'),
         url('../fonts/agaramondpro-italic-webfont.ttf') format('truetype'),
         url('../fonts/agaramondpro-italic-webfont.svg#adobe_garamond_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'adobegaramondproregularRg';
    src: url('../fonts/agaramondpro-regular-webfont.eot');
    src: url('../fonts/agaramondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/agaramondpro-regular-webfont.woff') format('woff'),
         url('../fonts/agaramondpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/agaramondpro-regular-webfont.svg#adobegaramondproregularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* PAGE CSS */

#wrapper{
	margin:0 auto;
	width:810px;
	background: url(../img/noise.png);
	height:900px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border:14px solid grey;
}

header{
	margin:0 auto;
	width:782px;
	text-align:center;
	padding:50px 0 0 0;
}

header p{
	margin:0 auto;
	width:782px;
	text-align:center;
	font-family:'adobegaramondproregularRg', Georgia, "Times New Roman", Times, serif;
	color:#626262;
	font-size:73px;
	padding:50px 0 0 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

header p:nth-child(3){
	margin:0 auto;
	width:730px;
	text-align:center;
	font-family:'adobegaramondproregularRg', Georgia, "Times New Roman", Times, serif;
	color:#626262;
	font-size:29px;
	padding:10px 0 0 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	background:url(../img/bar2.png) no-repeat 0 65%;
}


/* SLIDER CLASS */

#wrapper #slider{
	width:770px;
	height:900px;
	
}

#book_g{
	height:395px;
	width:256px;
	margin:50px 0 0 147px;
	float:left;
	display:block;
}

#book_content{
	height:395px;
	width:356px;
	margin:50px 0 0 0;
	padding:0 0 0 0;
	float:left;
	display:block;
}

.ws_prev{
	background: url(../img/arrow.png) no-repeat;
    height: 43px;
	width:43px;
	margin:150px 0 0 29px;
    position: absolute;
}

.ws_next{
	background: url(../img/arrow.png) no-repeat;
    height: 43px;
	width:43px;
	margin:150px 0 0 710px;
    position: absolute;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
}

#book_content p:nth-child(1){
	font-family:'adobegaramondproregularRg', Georgia, "Times New Roman", Times, serif;
	color:#626262;
	font-size:23px;
	width:267px;
	padding:50px 0 0 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

#book_content p:nth-child(2){
	font-family:'adobe_garamond_proitalic', Georgia, "Times New Roman", Times, serif;
	color:#000;
	width:267px;
	font-size:23px;
	padding:5px 0 0 0;
}

#book_content p:nth-child(3){
	font-family:'adobegaramondproregularRg', Georgia, "Times New Roman", Times, serif;
	color:#626262;
	font-size:14px;
	width:267px;
	padding:30px 0 15px 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	line-height:18px;
}

.button{
	background-color: rgba(0, 0, 0, 0);
    border: 3px solid #626262;
    color: #626262;
	float:left;
    display: inline-block;
    margin: 20px 0 10px 20px;
    padding: 8.5px 16px;
    text-decoration: none;
    transition: all 0.25s ease 0s;
	font-family:'adobegaramondproregularRg', Georgia, "Times New Roman", Times, serif;
	text-transform: uppercase;
	font-size:14px;
}

.button:hover{
    background-color: #000;
    border: 3px solid #000;
    color: #FFFFFF;
}

.button:active{

}

#book_content img{
	margin:20px 0 0 0;
	float:left;
	transition: all 0.25s ease 0s;
}

#book_content img:hover{
	opacity:0.6;
}

#shelf{
	width:735px;
	height:150px;
	background:url(../img/shelf.png) no-repeat;
	margin: 50px auto 0 auto;
	float:right;
	display:block; 
}


#shelf ul{
	width:735px;
	height:102px;
	display:block;
	margin:-90px 0 0 55px;
}


#shelf ul li{
	float:left;
	height:102px;
	width:84px;
	display:block;
	transition: all 0.25s ease 0s;
}

#shelf ul li:hover{
	transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

#shelf ul li:active{
	border:4px solid transparent;
	opacity:0.6;
	margin:-5px 0 0 0;

}







